body {
  justify-content: center;
  margin: 0;
  background-color: #0b0a18;
  display: flexbox;
}
#playerText {
  color: #ffffff;

  font-family: sans-serif;
  text-align: center;
  font-size: xxx-large;
}
#h1 {
  display: inline-flex;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 10px;
  max-width: 800px;
  padding: 20px;
}

.card {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  padding: 15px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.CARDS {
  border: 6px solid rgb(218, 222, 221);
  border-radius: 30%;
  width: 100px;
  height: 140px;
  display: inline;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
  /* background-color: #cccccc00; */
}

#container {
  grid-template-columns: repeat(5, 100px);
  display: grid;
  justify-content: center;
  margin: 15px;
  gap: 30px;
}
#PLAY a {
  text-decoration: none;
  color: inherit; 
}

.blue {
  background-color: rgb(0, 30, 166);
}
.red {
  background-color: red;
}

.green {
  background-color: rgb(0, 171, 23);
}
.pink {
  background-color: rgb(255, 3, 158);
}
.yellow {
  background-color: yellow;
}
.orange {
  background-color: rgb(255, 72, 0);
}
.lightB {
  background-color: aqua;
}
.purple {
  background-color: blueviolet;
}
.black {
  background-color: black;
}
.white {
  background-color: #ccc;
}
.brown {
  background-color: rgb(134, 53, 0);
}
.olive {
  background-color: olive;
}
