body {
  justify-content: center;
  margin: 0;
  background: rgba(96, 80, 80, 0.831);
  display: block;
}
#playerText {
  color: #ccc;
  /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
  /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; */
  font-family: "sofia", sans-serif;
  text-align: center;
  font-size: xxx-large;
}
#h1 {
  display: inline-flex;
}

.CARDS {
  border: 6px solid rgb(218, 222, 221);
  border-radius: 30%;

  /* display: ; */
  width: 90px;
  height: 120px;
  display: inline;
}

.card {
  width: 100px;
  height: 80px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

/* .CARD {
  border: 1px solid black;

  width: 100px;
  height: 100px;
  display: inline;
} */
.buttonContainer {
  display: grid;
  justify-content: center;

  margin-bottom: 30px;
}
#PLAY {
  /* box-shadow: 0 12px 16px 0, 0 17px 50px 0; */
  font-family: "Trirong", serif;
  font-size: 30px;
  padding: 5px 10px;
}
#PLAY:hover {
  background-color: rgb(171, 171, 171);
  /* border-radius: 40%; */
  /* justify-content: ; */
  /* border-radius: 12px; */
  font-size: 30px;
  box-shadow: 0 12px 16px 0 rgba(255, 111, 0, 0.466),
    0 17px 50px 0 rgba(196, 128, 4, 0.468);
}
#container {
  grid-template-columns: repeat(6, 100px);
  display: grid;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.blue {
  background-color: rgb(0, 30, 166);
}
.red {
  background-color: red;
}

.green {
  background-color: rgb(0, 171, 23);
}
.pink {
  background-color: rgb(255, 3, 158);
}
.yellow {
  background-color: yellow;
}
.orange {
  background-color: rgb(255, 72, 0);
}
.lightB {
  background-color: aqua;
}
.purple {
  background-color: blueviolet;
}
.black {
  background-color: black;
}
.white {
  background-color: #ccc;
}
.brown {
  background-color: rgb(134, 53, 0);
}
.olive {
  background-color: olive;
}
